// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.letters-container {
  display: flex;
}

.individual-letter {
  position: relative;
  text-align: center;
  background: blue;
  color: white;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 4px;
}
